header {
  width: 960px;
  margin: 0 auto;
  padding: 20px;
  text-align: center; 
  background: #535353;
  color: rgb(121, 190, 255); 
}

/* footer CSS*/
footer {
  width: 960px;
  margin: 0 auto;
  padding: 20px; 
  text-align: center; 
  background: #535353; 
}

body{
  margin: 0px;
  background-color: rgb(161, 161, 161);
  font-family: Arial, Helvetica, sans-serif;
}

/* Increase the font size of the <h1> element */
header h1 {
  font-size: 40px;
}

/* Style for the top navigation bar */
.center {
    width: 960px;
    margin: auto;
}

.navbar {
  overflow: hidden;
  background-color: #333; 
}
  
  /* Style for the navigation bar links */
.navbar a {
  float: left;
  display: block; 
  color: white; 
  text-align: center; 
  padding: 14px 20px; 
  text-decoration: none; 
}

.navbar a.right {
  float: right;
}

.navbar a:hover {
  background-color: #ddd;
  color: black; 
}
/* Make nav bar stick to the top*/
.content {
  padding: 0px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 960px;
  z-index: 1000;
}

.sticky + .content {
  padding-top: 0px;
}

  /* Ensure proper sizing */
* {
  box-sizing: border-box;
}
  
  /* Column container to stack sections */
.row {
  display: flex;
  flex-wrap: wrap;
}
  
/* Formating for the aboutme section*/
.aboutme {
    flex: 70%;
    max-width: 600px;
    background-color: #f1f1f1; 
    padding: 20px; 
    align-items: center;
    flex-direction: column; 
    position: relative; 
    min-height: 300px;
  }
/* CSS formating for the education section*/
  .education {
    flex: 80%;
    max-width: 700px;
    background-color: #f1f1f1;
    padding: 20px; 
    align-items: center;
    flex-direction: column; 
  }

  .edu h3{
    float: left;
  }

  .edu h3.right{
    float: right;
  }

  .education h4{
    clear: both;
    padding-left: 20px;
  }
/* Container for the logo image for each university*/
.univlogo{
  width: auto;
  flex: 20%;
  max-width: 260px;
  background-color: #c1c1c1;
  padding: 0px; 
}
/* CSS applied to the university logo image*/
.logoimg {
  height: auto;
  width: auto;
  max-width: 260px;
  max-height: 200px;
  background-color: #c1c1c1; 
  padding: 20px; 
  display: block;
  margin: 0 auto; 
}

/* Class container for the links*/
.links {
  display: flex;
  justify-content: space-around; 
  align-items: center; 
  overflow: hidden; 
  background-color: #333;
  margin: auto;
  border-radius: 20px;
  float: inline-start;
}

/*Class CSS for each link in the links class container*/
  .links a {
    flex: 1;
    color: rgb(255, 255, 255); 
    text-align: center; 
    padding: 14px 20px;
    text-decoration: none; 
  }
/* Makes button light grey and the text black when hovered over*/
.links a:hover {
  background-color: #ddd; 
  color: black; 
}
  
/*Class to contain the profile image*/
.profileimg {
    flex: 30%;
    width: 360px;
    height: 400px;
    background-color: #c1c1c1; 
    padding: 20px; 
}
/*CSS Class that applied to the profile image*/
.profileimg1 {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-color: #c1c1c1;
  display: block;
  margin: 0 auto; 
}
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width: 100%;
    }
  }

/*The heading CSS for personal and academic projects in project.html*/
.titleheading{
  background-color: #535353;
  height: 50px;
  padding: 5px 5px 5px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.titleheading h2{
  padding: 0px;
  font-size: 20px;
  color: rgb(121, 190, 255);
  margin: 0 auto;
  display: block;
}

.titleheading h3{
  padding: 0px;
  font-size: 10px;
  color: rgb(121, 190, 255);
  margin: 0 auto;
  display: block;
}

/*container class for each project*/
.project {
  flex: 100%;
  width: 960px;
  background-color: #f1f1f1;
  padding: 20px;
  align-items: center;
  flex-direction: column;
  border-top: 2px solid rgb(0, 0, 0);
  border-bottom: 2px solid rgb(0, 0, 0);
}

.project h3{
  float: left;
}

.project h3.right{
  float: right;
}

/* projectinfo class CSS to display information about the project*/
.projectinfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(190, 190, 190);
  color: black;
  height: 30px;
  padding: 5px 20px 5px 20px; 
  display: flex;
  align-items: center; 
  width: 920px;
  margin: auto;
}

/*Specfic CSS for heading 4 in class projectinfo*/
.projectinfo h4{
  margin: 0;
}

/* Large main image for the project*/
.MainImage{
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border: 1px solid rgb(0, 0, 0);

}

/* 3 column layout for sub images of projects*/
.columns3{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
  columns: 3;
  column-width: 320px;
  background-color: #f1f1f1;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid rgb(0, 0, 0);
}

/* CSS for smaller images in the column layout*/
.SubImage{
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

/**/
.SubImg{
  background-color: #f1f1f1;
}

/* The main image heading for the personal projects*/
.mimg h3{
  text-align: center;
  margin: 20px; 
}